* {
    margin: 0;
    padding: 0;

    --white: #F5F5F5;
    --black: #242424;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Bitter', sans-serif;
}

header, section, footer {
    min-height: 100vh;
}

header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/header.jpg") center;
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

header nav a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 2rem;
    margin: 2rem;
}

header nav a:last-of-type {
    margin-right: 3rem;
}

h1 {
    position: absolute;
    top: calc(50% - 10rem);
    color: var(--white);
    font-size: 10rem;
    font-weight: 500;
    font-family: var(--primary-font);
    left: 10rem;
    width: 5rem;
    text-transform: uppercase;
}

img {
    height: 100px;
}

#work-container {
    display: grid;
    grid-template-columns: 20rem 10rem 25rem 5rem;
    grid-template-rows: repeat(5, 10rem);
    grid-template-areas: 
        "set-1 set-2 set-3 set-5"
        "set-1 set-2 set-3 set-5"
        "set-1 set-2 set-3 set-5"
        "set-1 set-2 set-4 set-5"
        "set-1 set-2 set-4 set-5";
    grid-gap: 1rem;
}

#set-1 {
    grid-area: set-1
}

#set-2 {
    grid-area: set-2
}

#set-3 {
    grid-area: set-3
}

#set-4 {
    grid-area: set-4
}

#set-5 {
    grid-area: set-5
}
