body {
    padding: 0;
    margin: 0;
    font-family: 'Commissioner', sans-serif;
    color: white;
    background-color: #242424;
}

section {
    height: 100vh;
    width: 100vw;
}

#header {
    background-image: url("assets/header.jpg");
    background-size: cover;
    background-position: center;
}

#header-filter {

    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 2, 0.65);
}

#title {
    margin: 0;
}

#work {
    background-color: #FFFFFF;
}
